<!DOCTYPE html>

<html>
	<head>
		<title>CS253 Wiki</title>
		<link rel="stylesheet" type="text/css" href="/static/styles.css" />
	</head>
	<body>
		<div class="container">
			<nav class="clearfix">
				<ul class="clearfix">
					{% if user and article %}
					<li class="nav__item--edit">
						<a href="/_edit/{{ article.url }}">Edit</a>
					</li>
					<li class="nav__item--view">
						{% if history %}
						<a href="/{{ article.url }}">View</a>
						{% else %}	
						<a href="/_history/{{ article.url }}">History</a>
						{% endif %}
					</li>
					{% endif %}
					{% if user %}
					<li>
						Hi {{ user.name }} (<a href="/logout">Logout</a>)
					</li>
					{% else %}	
					<li>
						<a href="/login">Login</a>
					</li>
					<li>
						<a href="/signup">Signup</a>
					</li>
					{% endif %}
				</ul>
			</nav>
		</div>
		<h1><a href="/">CS253 Wiki</a></h1>
		<div class="container" role="main">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>